.flex-container3 {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  width: 500px;
  margin: 5px;
}
.flex-container3 div {
  flex-basis: 100px; /*forma oficial de definir o tamanho de acordo com o flex direction*/
}
.flex-container3 div:nth-child(4) {
  /*grow shrink basis*/
  flex: 3 6 200px;
}
